include LICENSE
include README.md
include CONTRIBUTING.md
include pytest.ini
recursive-include ps_fuzz/attack_data *
recursive-include system_prompt.examples *
recursive-include tests *
global-exclude *.pyc
global-exclude __pycache__/
